<div class="navbar">
  <div class="navbar-inner">
  	
    <a class="brand" href="">Factures</a>
    <div class = "pull-right">
    <ul class="nav">
      <li class="active"></a></li>
      <li><%= link_to 'Register', new_user_registration_path %></li>
    </ul>
    </div>
    <form class="navbar-form pull-right">
			<input type="text" class="span2">
			<button type="submit" class="btn">Submit</button>
		</form>
  </div>
</div>
