<div class="navbar">
  <div class="navbar-inner">
  	
    <a class="brand" href="">Factures</a>
    <div class = "pull-right">
    <ul class="nav">
      <li class="active"></a></li>
      <li>
      <% unless user_signed_in? %>
        <%= link_to 'Register', new_user_registration_path %>
      <% else %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <% end %>
      </li>
    </ul>
    </div>
    <% unless user_signed_in? %>
      <form accept-charset="UTF-8" action="/users/sign_in" id="new_user" class="navbar-form pull-right" method="post">
      </form>
		<% end %>
  </div>
</div>
